<h1>Stupid Coaching</h1>
<p>Your personal, dumb, life coach.</p>

<p>This is the method</p>
<p><%= @answer %></p>

<p>This is the parameter</p>
<p><%= @user_input %></p>

<%= link_to "Ask another question!", ask_path %>
